* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
/**general style for all pages**/    
}
body {
    width: 100vw;
    height:100vh;
    background-color: #000000;
    color: white;
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
    font-family: "Dangrek", sans-serif;
}

header {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1{
    color: greenyellow;
    font-size:  42px;
    text-shadow: 0px 5px 10px rgb(0, 255, 47);
    margin:auto;
}

main {
    
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    
}
/**logo in index page**/
#image {
    margin-top: 40px;
    width: auto;
    max-width: 300px;
}

#welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: greenyellow;
    margin-top: 30px;
}

#welcome-container input {
    margin: 20px auto;
    height: 45px;
    text-align: center;
    font-size: 35px;
    max-width: 300px;
    background-color: #000000;
    color: greenyellow;
    border: 2px solid greenyellow;
}

#welcome-container input:active {
    color: greenyellow;
}

#get-username {
    width: 100px;
    height:30px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px greenyellow;
    background-color: black;
    color: greenyellow;
}

/** quiz popup style**/
.popup {
    
    position:fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(5, 0, 0, 0.85);
    display: hide;
}

.overlay-pop{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: auto;
    z-index: 2;
}

.content-home-pop {
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color:black;
    width:75%;
    height:300px;
    z-index: 2;
    border-radius: 10px;
    box-shadow:  0 0 30px rgba(2, 245, 75, 0.97);
    color:greenyellow;
    font-size: 20px;
    font-family: "Dangrek", sans-serif;
}

.content-home-pop p {
    margin: 30px auto;
    font-size: 25px;
}

#quit-popup {
    margin: 30px auto;
    width: 140px;
    height: 50px;
    background-color: black;
    color: greenyellow;
    border-radius: 10px;
    box-shadow:  0 0 10px 5px greenyellow;
}

#quit-popup:hover {
    background-color: green;
    color: greenyellow;
    box-shadow: 0px 0px 20px;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
}

.content-pop {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color:black;
    width:75%;
    height:auto;
    z-index: 2;
    border-radius: 10px;
    box-shadow:  0 0 30px rgba(2, 245, 75, 0.97);
    color:greenyellow;
    font-size: 20px;
    
}

.content-pop h2 {
    padding:10px;
    margin: 20px auto;
}

.content-pop p {
    font-size: 28px;
}

.content-pop button {
    width: 100px;
    height:30px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px greenyellow;
    background-color: black;
    color: greenyellow;
}




/**buttons style with hover pseudo class **/
/** change pointer and colors when hovered **/


.level-links {
    text-decoration: none;
    border: 2px solid white;
    padding: 0 10px;
    border-radius: 10px;
    background-color: #000000;
    color: greenyellow;
    box-shadow: 0 0 10px 5px greenyellow;
    
}





.quit-btn {
    width: 100px;
    height:30px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px greenyellow;
    background-color: black;
    color: greenyellow;
    cursor: pointer;
}
.quit-btn:hover {
    background-color: red;
    color: black;
    box-shadow: 0 0 10px 5px red;
}

/**footer**/
footer {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 60px;
    text-align: center;
    padding-top: 10px;
    color: greenyellow;
    font-family: sans-serif;
}

/** easy page style**/
.quiz-box{
    border-top: 2px solid greenyellow;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.timer-container {
    width: 50%;
    margin: 0 auto;
    font-size: 30px;
    border: 5px solid greenyellow;
    box-shadow: 0 0 10px 5px greenyellow;
    color: greenyellow;
}


.quest {
    font-size: 18px;
    margin: 20px auto;
    width: 90%;
    text-align: center;
    color: greenyellow;
}

.question-container {
    height: auto;
    width: 90%;
    margin: 10px auto;
    color: greenyellow;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

/** created btns from script.js**/
.answ-btn {
    margin: 10px auto;
    height: 60px;
    width: 90%;
    border-radius: 7px;
    box-shadow: 0 0 10px 5px white;
    max-width: 800px;
    color: greenyellow;
    background-color: black;
    font-size: 30px;
}

.answ-btn:hover {
    background-color: rgb(30, 29, 29) ;
    box-shadow: 0px 0px 20px;
    cursor: pointer;
    border: 2px solid white;
}

.feedback-img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 10px 10px green;
    background-color: rgba(2, 245, 75, 0.77);
}

#thumb-down {
    background-color: rgba(239, 11, 11, 0.671);
    box-shadow: 0 0 10px 10px red;
}



#result-container {
    border: 10px white double;
    max-width: 90%;
    margin: 30px auto;
    padding:10px;
    box-shadow: 0 0 10px white;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

#result-container h2 {
    margin: 20px auto;
    font-size: 30px;
}

#result-container p {
    margin: 20px auto;
    line-height: 30px;
}

#score-result, #time-used {
    color: greenyellow;
}

#time-used {
    margin-bottom: 30px;
}

#comeback {
    font-size: 30px;
    font-family: "Dangrek", sans-serif;
    padding: 10px;
    color: greenyellow;
    background-color: #000000;
    box-shadow: 0 0 10px 5px greenyellow;
    margin-top: 30px;
    border-radius: 10px;
}


.hide {
    visibility: hidden;
}




/**media query for screen wider than 700px **/
@media screen and (min-width: 700px) {
    body{
        font-size: 50px;
    }
    header {
        padding: 0;
    }
    footer{
        font-size: 10px;
    }
    #image {
        width: 400px;
        max-width: 700px;
        margin: 0 auto;
    }

    .content-home-pop {
        height: 500px
    }

    .content-home-pop p {
        font-size: 30px;
    }

    #button-div button {
        height:50px;
        font-size: 25px;
    }

    .timer-container {
        margin-top: 20px;
    }

    .content-pop {
        height: 400px;
        font-size: 35px;
    }

    .content-pop p {
        margin: 20px;
        font-size: 35px;
    }

    #continueBtn {
        height: 40px;
        font-size: 25px ;
    }

    #question-box {
        font-size: 35px;
    }

    .answ-btn {
        margin: 20px auto;
    }

    .feedback-img {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        box-shadow: 0 0 10px 10px green;
        background-color: rgba(2, 245, 75, 0.77);
    }
    
    #result-container {
        border: 15px white double;
        max-width: 95%;
        margin: 30px auto;
        padding:10px;
        box-shadow: 0 0 10px 5px white;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }
    
    #result-container h2 {
        margin: 40px auto;
        font-size: 60px;
    }
    
    #result-container p {
        margin: 50px auto;
        line-height: 65px;
    }
    
    #score-result, #time-used {
        color: greenyellow;
    }

    #comeback {
        margin-top: 150px;
        font-size: 25px;
    }

    #comeback:hover {
        background-color: white;
        color: black;
        box-shadow: 0 0 10px 5px white;
    }

}

@media screen and (min-width: 1600px) {
    .answ-btn {
        margin: 40px;
        width: 600px;
    }
    .result-btn {
        background-color: black;
        color: greenyellow;
        width: 150px;
        height: 100px;
        border-radius: 10px;
        box-shadow: 0 0 10px 10px;
        margin: 20px auto;
    
    }
    
    .result-btn  {
        display: inline-block;
        padding: 10px 20px;
        background-color: black;
        color: greenyellow;
        border-radius: 5px;
        text-decoration: none !important; /* Add !important */
        transition: background-color 0.3s, color 0.3s;
    }
    
    .result-btn:hover  { /* Change here */
        background-color: green;
        color: white;
    }
}