* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
/**general style for all pages**/    
}
body {
    width: 100vw;
    height:100vh;
    background-color: #000000;
    color: white;
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1{
    color: greenyellow;
    font-size:  42px;
    text-shadow: 0px 5px 10px orangered;
    margin:auto;
}

main {
    
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    
}
/**logo in index page**/
#image {
    width: auto;
    max-width: 250px;
}

#welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: greenyellow;
}

#welcome-container input {
    margin: 20px auto;
    height: 45px;
    text-align: center;
    font-size: 35px;
    max-width: 300px;
    background-color: #000000;
    color: greenyellow;
    border: 2px solid greenyellow;
}

#welcome-container input:active {
    color: greenyellow;
}

#get-username {
    width: 100px;
    height:30px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px greenyellow;
    background-color: black;
    color: greenyellow;
}

.rules-container p {
    margin: 5px auto;
    padding: 10px 0;
    line-height: 25px;
    color: greenyellow;
    width: 75%;
}


/** quiz popup style**/
.popup {
    
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(5, 0, 0, 0.85);
    /**display: none;**/
}

.overlay-pop{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: auto;
    z-index: 2;
}

.content-home-pop {
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color:black;
    width:75%;
    height:auto;
    z-index: 2;
    border-radius: 10px;
    box-shadow:  0 0 30px rgba(2, 245, 75, 0.97);
    color:greenyellow;
    font-size: 20px;
}

.content-home-pop p {
    margin: 50px auto;
    font-size: 25px;
}

#quit-popup {
    margin: 30px auto;
    width: 140px;
    height: 50px;
    background-color: black;
    color: greenyellow;
    border-radius: 10px;
    box-shadow:  0 0 10px 5px greenyellow;
}

#quit-popup:hover {
    background-color: green;
    color: greenyellow;
    box-shadow: 0px 0px 20px;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
}

.content-pop {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color:black;
    width:75%;
    height:auto;
    z-index: 2;
    border-radius: 10px;
    box-shadow:  0 0 30px rgba(2, 245, 75, 0.97);
    color:greenyellow;
    font-size: 20px;
}

.content-pop h2 {
    padding:10px;
    margin: 20px auto;
}

.content-pop p {
    
    font-size: 28px;
}

.content-pop button {
    width: 100px;
    height:30px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px greenyellow;
    background-color: black;
    color: greenyellow;
}




/**buttons style with hover pseudo class **/
/** change pointer and colors when hovered **/
.btn {
    width: 100px;
    height:30px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px greenyellow;
    background-color: black;
    color: greenyellow;
}

.levelBtn {
    margin: 30px;
}

.quit-btn {
    width: 100px;
    height:30px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px greenyellow;
    background-color: black;
    color: greenyellow;
}


.btn a {
    text-decoration: none;
    color: rgb(7, 7, 6);
    font-size: 20px;
}

.btn:hover {
    background-color: green;
    color: greenyellow;
    box-shadow: 0px 0px 20px;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
}

.btn a:hover {
    background-color: rgb(0, 255, 17);
}

footer {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 60px;
    text-align: center;
    padding-top: 10px;
    color: greenyellow;
}

/** easy page style**/
.quiz-box{
    border-top: 2px solid greenyellow;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.timer-container {
    width: 50%;
    margin: 0 auto;
    font-size: 30px;
    border: 5px solid greenyellow;
    box-shadow: 0 0 10px 5px greenyellow;
    color: greenyellow;
}


.quest {
    font-size: 18px;
    margin: 20px auto;
    width: 90%;
    text-align: center;
    color: greenyellow;
}

.question-container {
    height: auto;
    width: 90%;
    margin: 10px auto;
    color: greenyellow;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

/** created btns from script.js**/
.answ-btn {
    margin: 10px auto;
    height: 60px;
    width: 90%;
    border-radius: 7px;
    box-shadow: 0 0 10px 5px white;
    max-width: 800px;
    color: greenyellow;
    background-color: black;
    font-size: 30px;
}

.answ-btn:hover {
    background-color: rgb(30, 29, 29) ;
    box-shadow: 0px 0px 20px;
    cursor: pointer;
    border: 2px solid white;
}

.feedback-img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 10px 10px green;
    background-color: rgba(2, 245, 75, 0.77);
}

#thumb-down {
    background-color: rgba(239, 11, 11, 0.671);
    box-shadow: 0 0 10px 10px red;
}


#answ-feedback {
    font-size: 30px;
    margin: 20px auto;
}


#result-container {
    border: 10px white double;
    max-width: 90%;
    margin: 30px auto;
    padding:10px;
    box-shadow: 0 0 10px white;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

#result-container h2 {
    margin: 20px auto;
    font-size: 30px;
}

#result-container p {
    margin: 20px auto;
    line-height: 25px;
}

#score-result, #time-used {
    color: greenyellow;
}



.hide {
    visibility: hidden;
}

#comeback {
    background-color: black;
    color: greenyellow;
    width: 150px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px;
    margin: 20px auto;

}

#comeback:hover {
    color: greenyellow;
    background-color: green;
    border: 2px solid white;
}
/**media query for screen wider than 600px **/
@media screen and (min-width: 600px) {
    #image {
        width: 400px;
        max-width: 700px;
        margin: 20px;
    }
}