/**general for all pages**/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**body general **/
body {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    color: white;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: "Dangrek", sans-serif;
}

/** header general **/
header {
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    color: greenyellow;
    font-size: 35px;
    text-shadow: 0px 5px 10px rgb(0, 255, 47);
}

/** main general **/
main {

    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;

}
/** links font **/
a {
    font-family: sans-serif;
}

/**footer**/
footer {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 60px;
    text-align: center;
    padding-top: 10px;
    color: greenyellow;
    font-family: sans-serif;
}

/**logo in index page**/
#image {
    margin-top: 40px;
    width: auto;
    max-width: 300px;
}

/** constins paragraph input field **/
/** contaier **/
#welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: greenyellow;
    margin-top: 30px;
}

/** input field**/
.input-name {
    margin: 20px auto;
    height: 45px;
    text-align: center;
    font-size: 30px;
    width: 280px;
    background-color: #000000;
    color: greenyellow;
    border: 2px solid greenyellow;
    border-radius: 10px;
}

/** when selected **/
#welcome-container input:active {
    color: greenyellow;
}

/** button **/
#get-username {
    width: 100px;
    height: 30px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px greenyellow;
    background-color: black;
    color: greenyellow;
}

/** quiz popup style**/
/** general pop up**/
.popup {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(5, 0, 0, 0.85);
}

/** over layer **/
.overlay-pop {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    z-index: 2;
}

/** actual popup container **/
.content-home-pop {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 75%;
    height: 500px;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(2, 245, 75, 0.97);
    color: greenyellow;
    font-size: 20px;
    font-family: "Dangrek", sans-serif;
}

/** paragraph  **/
.content-home-pop p {
    margin: 30px auto;
    font-size: 25px;
}

/** Level container and links inside popup**/
#levels-container {
    display: flex;
    flex-direction: column;
}

/** links style **/
.level-links {
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #000000;
    color: greenyellow;
    box-shadow: 0 0 10px 5px greenyellow;
    width: 40%;
    margin: 10px auto;

}

/** level pages style **/


/** popup in level pages **/
/** container **/
.content-pop {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 75%;
    height: auto;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(2, 245, 75, 0.97);
    color: greenyellow;
    padding: 2px;
}

/** heading **/
.content-pop h2 {
    padding: 10px;
    margin: 20px auto;
}

/** paragraph **/
.content-pop p {
    font-size: 20px;
}

/** button**/
.content-pop button {
    width: 100px;
    height: 30px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px greenyellow;
    background-color: black;
    color: greenyellow;
}

/** quit button in level pages **/
.quit {
    text-decoration: none;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #000000;
    color: greenyellow;
    box-shadow: 0 0 10px 5px greenyellow;
    width: 60px;
    margin: 20px auto 0 auto;
    height: 40px;
    padding: 10px;

}

/** button hovered **/
.quit-btn:hover {
    background-color: red;
    color: black;
    box-shadow: 0 0 10px 5px red;
}



/** quiz container **/
.quiz-box {
    border-top: 2px solid greenyellow;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

/** first container contains timer and answers counters **/
#top-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
}

/** timer **/
.timer-container {
    width: 75px;
    height: 75px;
    border-radius: 60px;
    margin: 0 auto;
    font-size: 18px;
    border: 5px solid greenyellow;
    box-shadow: 0 0 5px 2px greenyellow;
    color: greenyellow;
    padding: 20px 0;
    line-height: 15px;
    text-align: center;
}


/** counters **/
#correct-answers,
#wrong-answers {
    margin: auto 30px;
    color: greenyellow;
    box-shadow: 0 0 10px 5px greenyellow;
    padding: 5px;
    border-radius: 50%;
    border: 2px dashed;
    width: 45px;
    height: 45px;
    font-size: 20px;
}
/** wrong answer counter**/
#wrong-answers {
    color: red;
    box-shadow: 0 0 10px 5px red;
}



/** question container **/
.question-container {
    height: auto;
    width: 90%;
    margin: 26px auto;
    color: greenyellow;
    padding: 5px 2px;
    display: flex;
    flex-direction: column;
    font-size: 23px;
}

/** question **/
.quest {
    font-size: 18px;
    margin: 10px auto;
    width: 90%;
    text-align: center;
    color: greenyellow;
}

/** created btns from script.js**/
.answ-btn {
    margin: 5px auto;
    height: 45px;
    width: 90%;
    border-radius: 7px;
    box-shadow: 0 0 10px 2px white;
    max-width: 800px;
    color: greenyellow;
    background-color: black;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
    border: 2px solid white;
}

/** images triggered when answering**/
/** general (thumb up)**/
.feedback-img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 200px;
    left: 30%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px 10px green;
    background-color: rgba(2, 245, 75, 0.77);
    z-index: 1;
    border-radius: 50%;
}

/** thumb down image **/
#thumb-down {
    background-color: rgba(239, 11, 11, 0.77);
    box-shadow: 0 0 10px 10px red;
}


/** container for end of quiz result **/
#result-container {
    border: 10px greenyellow double;
    max-width: 90%;
    margin: 30px auto;
    padding: 10px;
    box-shadow: 0 0 10px greenyellow;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/** heading **/
#result-container h2 {
    margin: 20px auto;
    font-size: 30px;
}

/** paragraph **/
#result-container p {
    margin: 20px auto;
    line-height: 30px;
}

/** style for score and time results **/
#score-result,
#time-used {
    color: greenyellow;
}

/** spacing **/
#time-used {
    margin-bottom: 30px;
}

/** home button **/
#comeback {
    font-size: 30px;
    font-family: "Dangrek", sans-serif;
    padding: 10px;
    color: greenyellow;
    background-color: #000000;
    box-shadow: 0 0 10px 5px greenyellow;
    margin-top: 70px;
    border-radius: 10px;
}

/** general class used to hide elements **/
.hide {
    visibility: hidden;
}




/**media query for screen wider than 700px **/
@media screen and (min-width: 700px) {

    /** larger font for the entire body **/
    body {
        font-size: 50px;
    }

    /** reducind font size for footer**/
    footer {
        font-size: 10px;
    }

    /** redimension logo **/
    #image {
        width: 600px;
        max-width: 800px;
        margin: 0 auto;
    }

    /** welcome container **/
    #welcome-container {
        font-size: 70px;
        width: 100%;

    }

    .input-name {
        margin-top: 50px;
        width: 500px;
        border-radius: 10px;
        height: 100px;
    }

    /** popup **/
    /** more space for popup **/
    .content-home-pop {
        height: 700px
    }

    /** increse font size for paragraph and bottom space **/
    .content-home-pop p {
        font-size: 40px;
        margin-bottom: 60px;
    }

    /** larger button **/
    .level-links {
        height: 60px;
        font-size: 30px;
        margin: 40px auto;

    }

    /** second popup **/
    .content-pop {
        height: auto;
        font-size: 35px;
    }

    /** paragrph font and space increase **/
    .content-pop p {
        margin: 20px;
        font-size: 35px;
    }

    /** start button **/
    #continueBtn {
        height: 40px;
        font-size: 25px;
        width: 130px;
        margin-top: 60px;
    }

    /** space for timer container **/

    .timer-container {
        width: 120px;
        height: 120px;
        padding: 30px;
        font-size: 25px;
        line-height: 25px;
        margin: 40px;
    }




    /** counters **/
    /* Adjust the position of the counters */



    .counters {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 200px;
    }

    #correct-answers,
    #wrong-answers {
        color: greenyellow;
        box-shadow: 0 0 10px 5px greenyellow;
        border-radius: 50%;
        border: 2px dashed;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;

    }

    /** wrong counter colors **/
    #wrong-answers {
        box-shadow: 0 0 10px 5px red;
        border: 2px dashed red;
        color: red;
    }

    /** question container **/
    #question-box {
        font-size: 35px;
    }

    /** answer buttons spacing **/
    .answ-btn {
        margin: 20px auto;
    }

    /**  quit button **/
    .quit {
        border-radius: 10px;
        width: 160px;
        margin-top: 110px;
        height: 70px;
        padding: 5px;
    }




    /** images triggered from wrong or correct answer **/
    .feedback-img {
        width: 80px;
        height: 80px;
        position: absolute;
        top: 320px;
        left: 30%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 10px 10px green;
        background-color: rgba(2, 245, 75, 0.77);
    }

    /** end of quiz **/
    /** result container **/
    #result-container {
        border: 15px greenyellow double;
        max-width: 95%;
        margin: 30px auto;
        padding: 10px;
        box-shadow: 0 0 10px 5px greenyellow;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }

    /** heading **/
    #result-container h2 {
        margin-top: 30px;
        font-size: 40px;
    }

    /** paragraph **/
    #result-container p {
        margin: 20px auto;
        line-height: 45px;
        font-size: 30px;
    }

    /** score and time result text **/
    #score-result,
    #time-used {
        color: greenyellow;
    }

    /** home button **/
    #comeback {
        margin: 60px auto;
        font-size: 25px;
    }

    /**home button when hovered **/
    #comeback:hover {
        background-color: white;
        color: black;
        box-shadow: 0 0 10px 5px white;
    }

}

/** media query for larger screens over or equal width 1600px **/
@media screen and (min-width: 1200px) {

    /** massive logo **/
    #image {
        width: 700px;
        margin: -60px auto;
    }

    /** container with paragraph and input field**/
    #welcome-container {
        margin-top: -40px;
    }

    /** label over input field **/
    #welcome-container label {
        font-size: 60px;
    }

    /** input field **/
    #welcome-container input {
        width: 200px;
        margin: 20px auto;
        border-radius: 10px;
        height: 50px;
    }

    /** level links inside popup **/
    .level-links {
        margin: 30px auto;
        height: 90px;
        font-size: 50px;
    }
    /** hover links **/
    .level-links:hover {
        background-color: rgb(32, 32, 32);
    }
    /** font size popup **/
    .content-pop {
        font-size: 40px;
    }
    /** counters **/
    #correct-answers,
    #wrong-answers {
        color: greenyellow;
        box-shadow: 0 0 10px 5px greenyellow;
        border-radius: 50%;
        border: 2px dashed;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        font-size: 40px;
        margin: 70px 50px;

    }

    /** wrong counter colors **/
    #wrong-answers {
        box-shadow: 0 0 10px 5px red;
        border: 2px dashed red;
        color: red;
    }
    /** lets go button **/
    #continueBtn {
        width: 200px;
        height: 100px;
        cursor: pointer;
    }

    #continueBtn:hover {
        background-color: white;
        color: black;
        box-shadow: 0 0 10px 5px white;
    }

    /** quiz style **/
    .timer-container {
        width: 120px;
        height: 120px;
        padding: 30px;
        font-size: 25px;
        line-height: 25px;

    }

    /** answer buttons **/
    .answ-btn {
        margin: 10px 30px;
        width: 600px;
    }

    /** container after quiz finishes**/
    #result-container {
        border: 10px greenyellow double;
        max-width: 95%;
        margin: 30px auto;
        padding: 10px;
        box-shadow: 0 0 10px 5px greenyellow;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }

    /** home button **/
    #comeback {
        width: 250px;
        height: 100px;
    }
}